{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div style="height: 30px"></div>
  <div class="row">
    <div class="col-8"></div>
    <div class="col-4">
      <a class="btn btn_light" href="{{ url_for('trainee_registering_lecture', lecture_type = '전체') }}"><button class="btn btn-secondary">수강생으로 등록하러 가기</button></a>
    </div>
  </div>
  <h2>수강 중인 강의 목록</h2>
  <div class="row">
    {% for odd_index_lecture, even_index_lecture in lectures %}
      <div class="col-6">
        <div class="container bg-info text-white lecture_container">
          <a class="btn btn_light" style="position: absolute; right: 12px; top: 7px;" href="{{ url_for('attendance_list', lecture_id=odd_index_lecture[0].lecture_id, trainee_id=current_user.id) }}"><button class="btn btn-primary">출결 현황 Check</button></a>
          <div class="row">
            <div class="col-5">
              <img src="{{ odd_index_lecture[0].lecture_thumbnail }}" style="height: 150px; width: 200px;">
            </div>
            <div class="col-7">
              <h3>{{ odd_index_lecture[0].lecture_title }}</h3>
            </div>
          </div>
          <div>
            <p style="display: inline;">
              시작일: {{ odd_index_lecture[0].lecture_open_local_date.strftime('%Y-%m-%d') }}
            </p>
            <p style="display: inline; margin-left: 20px;">
              종료일: {{ odd_index_lecture[0].lecture_close_local_date.strftime('%Y-%m-%d') }}
            </p>
          </div>
          <div>
            <p style="display: inline;">
              시작 시간: {{ odd_index_lecture[0].lecture_start_local_time.strftime('%H:%M') }}
            </p>
            <p style="display: inline; margin-left: 43px;">
              종료 시간: {{ odd_index_lecture[0].lecture_end_local_time.strftime('%H:%M') }}
            </p>
          </div>
          <div>
            <p style="display: inline;">
              요일: {{ odd_index_lecture[1] }}
            </p>
            <p></p>
          </div>
          <div>
            <p style="display: inline;">
              최대 인원 수:
              {% if odd_index_lecture[0].lecture_max_attendee_num == 0 %}
                제한 없음
              {% else %}
                {{ odd_index_lecture[0].lecture_max_attendees_num }}
              {% endif %}
            </p>
            <a class="btn btn_light" style="position: absolute; right: 78px; bottom: 75px;" href="{{ url_for('lecture', lecture_id=odd_index_lecture[0].lecture_id) }}"><button class="btn btn-warning">-> 자세히 보기</button></a>
            <p></p>
          </div>
          <div>
            <p style="display: inline;">
              {% if odd_index_lecture[0].trainers[0].participation_type == "teaching" %}
                강의 트레이너 이름:
                {{ odd_index_lecture[0].trainers[0].trainer.user_name }}
                피드백 트레이너 이름:
                {{ odd_index_lecture[0].trainers[1].trainer.user_name }}
              {% else %}
                강의 트레이너 이름:
                {{ odd_index_lecture[0].trainers[1].trainer.user_name }}
                피드백 트레이너 이름:
                {{ odd_index_lecture[0].trainers[0].trainer.user_name }}
              {% endif %}
            </p>
          </div>
        </div>
        <div style="height: 50px;"></div>
      </div>
        <div class="col-6">
          {% if even_index_lecture[0] %}
            <div class="container bg-info text-white lecture_container">
              <a class="btn btn_light" style="position: absolute; right: 12px; top: 7px;" href="{{ url_for('attendance_list', lecture_id=even_index_lecture[0].lecture_id, trainee_id=current_user.id) }}"><button class="btn btn-primary">출결 현황 Check</button></a>
              <div class="row">
                <div class="col-5">
                  <img src="{{ even_index_lecture[0].lecture_thumbnail }}" style="height: 150px; width: 200px;">
                </div>
                <div class="col-7">
                  <h3>{{ even_index_lecture[0].lecture_title }}</h3>
                </div>
              </div>
              <div>
                <p style="display: inline;">
                  시작일: {{ even_index_lecture[0].lecture_open_local_date.strftime('%Y-%m-%d') }}
                </p>
                <p style="display: inline; margin-left: 20px;">
                  종료일: {{ even_index_lecture[0].lecture_close_local_date.strftime('%Y-%m-%d') }}
                </p>
              </div>
              <div>
                <p style="display: inline;">
                  시작 시간: {{ even_index_lecture[0].lecture_start_local_time.strftime('%H:%M') }}
                </p>
                <p style="display: inline; margin-left: 43px;">
                  종료 시간: {{ even_index_lecture[0].lecture_end_local_time.strftime('%H:%M') }}
                </p>
              </div>
              <div>
            <p style="display: inline;">
              요일: {{ even_index_lecture[1] }}
            </p>
            <p></p>
          </div>
          <div>
            <p style="display: inline;">
              최대 인원 수:
              {% if even_index_lecture[0].lecture_max_attendees_num == 0 %}
                제한 없음
              {% else %}
                {{ even_index_lecture[0].lecture_max_attendees_num }}
              {% endif %}
            </p>
            <a class="btn btn_light" style="position: absolute; right: 78px; bottom: 75px;" href="{{ url_for('lecture', lecture_id=even_index_lecture[0].lecture_id) }}"><button class="btn btn-warning">-> 자세히 보기</button></a>
            <p></p>
          </div>
              <div>
                <p style="display: inline;">
                  {% if odd_index_lecture[0].trainers[0].participation_type == "teaching" %}
                    강의 트레이너 이름:
                    {{ odd_index_lecture[0].trainers[0].trainer.user_name }}
                    피드백 트레이너 이름:
                    {{ odd_index_lecture[0].trainers[1].trainer.user_name }}
                  {% else %}
                    강의 트레이너 이름:
                    {{ odd_index_lecture[0].trainers[1].trainer.user_name }}
                    피드백 트레이너 이름:
                    {{ odd_index_lecture[0].trainers[0].trainer.user_name }}
                  {% endif %}
                </p>
              </div>
            </div>
          {% endif %}
          <div style="height: 50px;"></div>
      </div>
    {% endfor %}
  </div>
  <div style="margin-top: 300px"></div>
  <h3>신청한 오프라인 프로그램 목록</h3>
  <div style="margin-top: 30px"></div>
  <div class="row" style="border-bottom: 1px solid black;">
    <div class="col-4">
      <p style="text-align: center;">타이틀</p>
    </div>
    <div class="col-2">
      <p style="text-align: center;">종류</p>
    </div>
    <div class="col-2">
      <p style="text-align: center;">시작일</p>
    </div>
    <div class="col-4">
      <p style="text-align: center;">개최지 주소</p>
    </div>
  </div>
  {% for gathering in gatherings %}
    <div class="row">
      <div class="col-4">
        <a href="{{ url_for('gathering', gathering_id=gathering.gathering_id) }}">{{ gathering.gathering_title }}</a>
      </div>
      <div class="col-2">
        <p>{{ gathering.gathering_type }}</p>
      </div>
      <div class="col-2">
        <p>{{ gathering.gathering_start_local_datetime.strftime('%Y-%m-%d') }}</p>
      </div>
      <div class="col-4">
        <p>{{ gathering.gathering_address }}</p>
      </div>
    </div>
    <div style="border-bottom: 1px solid dashed;"></div>
  {% endfor %}
</div>
{% endblock content %}